  .__wb_overlay {
    filter:alpha(opacity=60); /* IE */
    opacity: 0.6; /* Safari, Opera */
    -moz-opacity:0.6; /* FireFox */  
    opacity: 0.6;
    
    background-color: #000;
    position: fixed;
    width:100%;
    height:100%;
    top: 0px;
    left: 0px;
    padding: 0px !important;
    border: 0px !important;
    margin: 0px !important;
    border-radius: 0px !important;
    z-index: 2147483643 !important;
  }
  
  #__wb_record_overlay_div {
    cursor: wait !important;
  }
  
a {
    color: white;
}